.navbar ul {
    list-style: none;
    background-color: hsl(101, 87%, 77%);
    color: white;
    padding: 0px;
    overflow: hidden;
    justify-content: center;
    display: flex;
    min-width: 100px;
    margin: 0;
    font-size: 30px;
    font-weight: 500;
}
h2 {
    text-align: center;
    padding: 10px;
    margin: 0px;
    color: blue;
}
.navbar a{
    display: block;
    padding: 20px;
    text-decoration: none;
    text-align: center;
}
.navbar a:visited{
    color:white;
}

.navbar a:hover{
    background-color: hsl(88, 96%, 81%);
}
body {
    margin: 20px;
    padding: 30px;
    display: flexbox;
}

.l {
    padding: 100px;
    justify-content: center;
    display: flex;
    background-color: hsl(101, 87%, 77%);
    margin: 20px;
}
.navbar {
    margin: 20px;
    margin-top: 0px;
}

