<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, 
        initial-scale=1.0" />
        <title>ybot</title>
        <link rel="stylesheet" href="../static/styles/s.css"/>
    </head>

    <body>
        <nav class="navbar">
            <div>
                <ul>
                    <li class="nav__button">Home</li>
                    <li class="nav__button">Github</li>
                    <li class="nav__button">Wiki</li>
                </ul>
            </div>
        </nav>
    </body>
</html>
