<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, 
        initial-scale=1.0" />
        <title>ybot</title>
        <link rel="stylesheet" href="../static/styles/s.css"/>
    </head>

    <body>
        <div class="bars">
            
                <nav class="navbar">
            
                    <ul>
                        <li class="nav__button"><a href="index.html">Home</a></li>
                        <li class="nav__button"><a href="https://github.com/korok0" target="_blank">Github</a></li>
                    </ul>
                </nav>
            
        </div>
        <div class="l">
            <img src="korok.png" alt="korok">
        </div>
    </body>
</html>
